MARIADB_ROOT_PASSWORD=
MARIADB_DATABASE=
MARIADB_USER=
MARIADB_PASSWORD=
ESPOCRM_DATABASE_HOST=
ESPOCRM_DATABASE_PORT=
ESPOCRM_DATABASE_NAME=
ESPOCRM_DATABASE_USER=
ESPOCRM_DATABASE_PASSWORD=
ESPOCRM_ADMIN_USERNAME=
ESPOCRM_ADMIN_PASSWORD=
ESPOCRM_SITE_URL=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_VERIFY_TOKEN=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
